* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif, "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", "Geneva", Verdana, sans-serif;
}
:root {
  /* Declaro variables CSS con colores principales */
  --color-theme: #ffce30;
  --color-active: #288ba8;
  --color-back-active: #746ab0;
  --color-back-inactive: #c4c6c9;
  --color-titulos: #e83845;
  --color-texto-blanco: #fff;
  --color-gradient: linear-gradient(
    to right,
    var(--color-theme),
    var(--color-back-active)
  );
}
body {
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  background-color: #e0e0e0;
  color: #1d1d1d;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
button,
a {
  user-select: none;
  -webkit-user-select: none;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-image: url("../img/FondoCine6.webp");
  border-radius: 0 0% 20px 20px;
  border-bottom: 2px solid var(--color-active);
  border-radius: 0 0 20px 20px;
}
nav > ul {
  display: flex;
  justify-content: space-between;
  justify-content: center;
}
nav li {
  flex: 0 0 auto;
  margin-right: 2px;
}
nav li a {
  display: block;
  padding: 16px 12px;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  color: var(--color-texto-blanco);
  background-color: var(--color-back-inactive);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
nav li.current-page a {
  color: var(--color-theme);
  background-color: var(--color-active);
  pointer-events: none;
}
main {
  margin-top: 120px;
  overflow: auto;
  padding: 16px;
  padding-bottom: 60px;
  height: calc(100% - 120px);
  width: 100%;
}
h1 {
  text-align: center;
  margin: 0;
  color: var(--color-theme);
}
h1 > img {
  width: 70px;
  vertical-align: middle;
  padding: 10px;
}
h2 {
  color: var(--color-titulos);
  margin: 16px 0;
  text-align: center;
  text-shadow: 2px 2px 2px #000;
}
h3 {
  color: var(--color-theme);
  margin: 8px 0;
}
.icon {
  height: 32px;
  width: 32px;
}
main section {
  display: block;
  justify-content: center;
}
footer {
  position: fixed;
  bottom: 0px;
  background-color: var(--color-active);
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
footer p {
  font-size: small;
  color: var(--color-theme);
}
main p {
  margin-bottom: 16px;
}
/* Media Query: Estilos a aplicar sólo en pantallas mayores a 400px */
@media (min-width: 400px) {
  main {
    padding-left: 10%;
    padding-right: 10%;
  }
  footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.loader {
  width: 60px;
  height: 60px;
}

.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-top: 2px solid #8900ff;
  border-right: 2px solid transparent;
  animation: spinner8217 0.8s linear infinite;
}

@keyframes spinner8217 {
  to {
    transform: rotate(360deg);
  }
}
.loader-container {
  margin: auto;
  display: flex;
  justify-content: center;
}
.display {
  display: none;
}
.msg {
  width: 50%;
  margin: 20px auto;
  padding: 15px;
  border-radius: 15px;
  color: #fff;
  font-size: 12px;
  font-weight: 200;
  text-align: center;
}
.amarillo {
  background-color: #ffc107;
}
.rojo {
  background-color: #dc3545;
}
.verde {
  background-color: #28a745;
}

button {
  width: 200px;
  height: 30px;
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  background: gray;
  border-radius: 20px;
  color: #ffffff;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#spinner-modal {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  background: black;
  top: 0;
  left: 0;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}
